<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User Type</title>
</head>
<body>
<h4 style="color: red;">Sorry but it seems that this user type exists in our database please check all the available user types</h4>
<form action = "..\Controller\UserTypeController.php" method="post">
    Enter UserType Name : <input type = 'text' name = "type" required><br>
    <input type = "submit" name = "addnewUserType" value = "Add">
    <a href="Menue.php"> <input type = "button" value = "Back"></a>
</form>
</body>
</html>