<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Page</title>
</head>
<body>
<h4 style="color: green;">Page Added Successfully</h4>
<form action = "..\Controller\PageController.php" method="post">
    Page Path : <input type = "text" name = "url" required placeholder="../View/PageName"><br>
    Friendly Name : <input type = "text" name = 'name' required><br>
    <input type = "submit" name = "AddPage" value="Add"><br>
    <a href="Menue.php"><input type="button" value = 'Back'> </a>

</form>
</body>
</html>